.header {
    padding: 0;
}
.content {
    padding: 10px 0 10px 0;
    text-align: center;
    background: #F0524F;
    h1 {
        font-weight: bold;
        text-transform: capitalize;
        color: white;
        font-size: 1rem;
    }
}

.title {
    color: white;
}